{% extends "../topic/inc/topic_base.html" %}
{% block head %}
    <title>{{title}}-{{_web.sitename}}</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{_web.description}}">
    {{ super() }}
    <!-- <link rel="stylesheet" type="text/css" href="{{_web.url}}{{theme_url}}/vendors/wangeditor/css/wangEditor.min.css"> -->
{% endblock %}

{% block content %}
    <div class="article" id="topicList">
       <div class="topnews" id="createtop">
         <div class="header">
              <ol class="breadcrumb">
                <li><a href="/">主页</a><span class="divider"></span></li>
                <li class="active">Thêm chủ để</li>
              </ol>
         </div>
         <div class="createbody">
             <div class="row-item">
               <span>Danh mục：</span>
               <select name="tab" class="select form-control" id="tab-value">
                    <option value="">Vui lòng chọn</option>
                    {% if navList.menu.length>0 %}

                       {% for item in navList.menu %}
                          <option value="{{item.parentmenu.id}}">{{item.parentmenu.itemname}}</option>
                              {% if item.submenus.length>0 %}

                                {% for it in item.submenus %}
                                <option value="{{it.id}}">-{{it.itemname}}</option>

                                  {% endfor %}

                              {% endif %}
                          </li>
                       {% endfor %}
                    </ul>
                    {% endif %}
                </select>
              </div>
              <input type="hidden" id="uname" value="{{uinfo.name}}">
              <input type="hidden" id="upic" value="{{upic}}">
             <div class="row-item">
               <input type="text"  class="form-control" placeholder="Chủ đề ít nhất 10 kí tự" id="topicTitle">
             </div>
             <div id="editor" style="height:400px;max-height:500px;margin:15px 0;"></div>
             <span class="span-success" id="savetopic">Gửi</span>
         </div>
       </div>
    </div>
{% endblock %}
{% block footer_other %}
<script type="text/javascript" src="{{_web.url}}static/filemanager/ckeditor/ckeditor.js"></script>
    <!-- <script type="text/javascript" src="{{_web.url}}{{theme_url}}/vendors/wangeditor/js/wangEditor.min.js"></script> -->
    <script type="text/javascript" src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/topic/create.js"></script>
{% endblock %}
