{% extends "../topic/inc/topic_base.html" %}
{% block head %}
    <title>{{title}}-{{_web.sitename}}</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{_web.description}}">
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{_web.url}}{{theme_url}}/vendors/wangeditor/css/wangEditor.min.css">
    <link href="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/topic/reply.css" rel="stylesheet">
    <link rel="stylesheet" href="{{_web.url}}{{theme_url}}/vendors/github-markdown/github-markdown.css">
{% endblock %}

{% block content %}
    <div class="topnews" id="createtop">
      <div class="topicTitle">
        <div class="header topic_header">
         <span class="topic_full_title" id="article-title"> {{topicInfo.title}} </span>
         <div class="changes">
            <span><i class="glyphicon glyphicon-time"></i> <time class="timeago" datetime="{{think.datetime(topicInfo.createtime)}}"></time></span>
            <span><i class="fa fa-user fa" aria-hidden="true"></i> <a href="/personal/@{{acc.author}}">{{acc.nickname}}</a> </span>
            <input type="hidden" name="name" value="{{loginuserinfo.name}}"  id="loginname">
            <span><i class="glyphicon glyphicon-eye-open"></i> {{topicInfo.view}} </span>
            <span><i class="glyphicon glyphicon-tags"></i> <a href="/chu-de/{{topicInfo.itemurlrewrite}}-{{topicInfo.item}}">{{topicInfo.itemname}}</a></span>
            <input class="btn btn-info pull-right btn-comment" value="Bình luận" type="button">
              <input class="span-common span-success pull-right collect_btn {%if iscollect==1%}cancel{%endif%}" type="submit" value="{%if iscollect==1%}Bỏ theo dõi{%else%}Theo dõi{%endif%}" itype="topic" aid="{{topicInfo.id}}" cid="{{cid}}" flag="{{iscollect}}"/><br/>

            {% if topicInfo.author==loginuserinfo.name %}
              <div class="topic_item" id="topic_item">
                <a href="/chu-de/cap-nhat/{{topicInfo.id}}"><i class="fa fa-icon fa-pencil-square-o fa-edit" rid={{topicInfo.id}} title="编辑"></i></a>
                <i class="fa fa-icon fa-trash" rid={{topicInfo.id}} title="删除" id="removeItem"></i>
              </div>
            {%endif%}
         </div>
         <div id="manage_topic"></div>
        </div>
      </div>
        {% if topicInfo.content!="" %}
       <div id="topicbody">
         {{topicInfo.content|safe}}
       </div>
       {%endif%}
    </div>
    {% if replycount!=0 %}
      <div class="replylist">
        <div class="header">
          <span class="col_fade">{{replycount}} bình luận</span>
        </div>
        {% for item in replyList %}
          <div class="cell reply_area reply_item">
             <div class="author_content">
                <a href="/personal/@{{item.author}}" class="user_avatar"> <img src="{{_web.url}}{{theme_url}}/{{'common/images/pic/man.jpg' if item.pic=='' else item.pic}}" title="{{item.author}}" /></a>
                <div class="user_info">
                   <a class="dark reply_author" href="/personal/@{{item.author}}">{{item.author}}</a>
                   <a class="reply_time">#{{loop.index}}•
                      <time class="timeago" datetime="{{think.datetime(item.mytime)}}"></time>
                   </a>
                </div>
                <div class="user_action">
                   <span>
                     <i class="fa up_btn fa-thumbs-o-up {%if item.like>0 %}haslike{%endif%}" title="喜欢" rid={{item.tid}} login="{{loginuserinfo.name}}"></i>
                     <span class="likeCount">{%if item.like>0 %}{{item.like}}{%endif%}</span><span class="up-count"> </span>
                    {% if item.author==loginuserinfo.name %}
                      <i class="fa fa-icon fa-pencil-square-o fa-edit edit2_btn" rid={{item.tid}} title="编辑"></i>
                      <i class="fa fa-icon fa-trash" rid={{item.tid}} tid="{{topicInfo.id}}" title="删除"></i>
                    {%endif%}
                  </span>
                   <span> <i class="fa fa-reply reply2_btn" title="回复" rname="{{item.author}}"></i> </span>
                </div>
             </div>
             <div class="reply_content from-SuperZee">
              <div class="markdown-text">
                {{item.oldcomment|safe}}
              </div>
             </div>
         </div>
        {%endfor%}
      </div>
    {%endif%}
    {% if islogin==1 %}
      <div class="reply-region">
         <div class="topnews" id="createreply">
           <div class="reply">
             <div class="header">
              <span class="col_fade">Bình luận</span>
             </div>
             <div id="editor" style="height:400px;max-height:500px;margin:15px 0;"></div>
             <input type="hidden" value="{{loginuserinfo.name}}" id="replyauthor">
             <input type="hidden" value="{{topicInfo.title}}" id="replytitle">
             <input type="hidden" value="{{loginuserinfo.pic}}" id="replypic">
             <input type="hidden" value="{{topicInfo.id}}" id="tid">
           </div>
         </div>
         <span class="span-success" id="savetopic">Gửi</span>
      </div>
    {%endif%}
{% endblock %}

{% block footer_other %}
<script type="text/javascript" src="{{_web.url}}static/filemanager/ckeditor/ckeditor.js"></script>
    <!-- <script type="text/javascript" src="{{_web.url}}{{theme_url}}/vendors/wangeditor/js/wangEditor.min.js"></script> -->
    <script type="text/javascript" src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/topic/reply.js"></script>
{% endblock %}
