{% extends "../common/inc/base_home.html" %}
{% block head %}
<title>{{title}}-{{_web.sitename}}</title>
<meta property="og:url"           content="/{{blogInfo.itemurlrewrite}}-{{blogInfo.item}}/{{blogInfo.urlrewrite}}-{{blogInfo.id}}.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{blogInfo.title}}" />
  <meta property="og:description"   content="{{blogInfo.abstract}}" />
  <meta property="og:image"         content="{{_web.url}}{{'static/common/images/common/default.jpg' if blogInfo.picurl=='' else blogInfo.picurl }}" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{blogInfo.abstract}}-{{_web.sitename}}">
{{ super() }}
<!-- <link rel="stylesheet" href="{{_web.url}}{{theme_url}}/vendors/github-markdown/github-markdown.css"> -->
<link rel="stylesheet" href="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/page/page.css">
<style>
.title
{
  font-weight: bold;
  font-size: 24px;
}
@media (max-width:480px)  {
.title {
           font-size: 14px;
       }
.description {
          font-size: 12px;
       }
}

/*reply comment*/

.topnews .header {
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 3px 3px 0 0;
    z-index: 0;
}

.description a{
  color: #3498db;
  font-weight: bold;
}
.markdown-body .cloud ul
{
  margin: 0;
}
.markdown-body .cloud
{
  margin-bottom: 5px;
  padding: 5px 0;
}
.markdown-body .recom ul
{
  margin-left: -10px;
}
.markdown-body .bd-news
{
  margin-top: -20px;
}
#showContent .bd-news
{
  margin-top: -40px;
}
#showContent .bd-news ul
{
  margin-left: -10px;
}
</style>
{% endblock %}

{% block content %}
<div class="topnews">
    <div class="h2">
        <ol class="breadcrumb">
          <li><a href="{{_web.url}}"><i class="fa fa-home"></i></a></li>
          {% if category.categoryparent!=null %}
          <li><a href="/{{category.categoryparent.urlrewrite}}-{{category.categoryparent.id}}">{{category.categoryparent.itemname}}</a></li>
          <li class="active"><a href="/{{category.category.urlrewrite}}-{{category.category.id}}">{{category.category.itemname}}</a></li>
          {% else %}
           <li class="active"><a href="/{{category.category.urlrewrite}}-{{category.category.id}}">{{category.category.itemname}}</a></li>
          {% endif %}
        </ol>
    </div>
    <article class="markdown-body">
        <header class="article-header">




                           <p class="title" id="article-title">{{blogInfo.title}}</p>
                           <p class="description">
                               <span><a href="/{{blogInfo.itemurlrewrite}}-{{blogInfo.item}}">{{itemname}}</a></span>
                               <span><i class="glyphicon glyphicon-time"></i> <time class="timeago" datetime="{{think.datetime(blogInfo.createtime)}}"></time></span>
                               <span><i class="glyphicon glyphicon-eye-open"></i> {{blogInfo.view}}</span>

                           </p>



<div class="fb-like" data-href="/{{blogInfo.itemurlrewrite}}-{{blogInfo.item}}/{{blogInfo.urlrewrite}}-{{blogInfo.id}}.html" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

                </header>
        <div id="showContent">
            {%if particle.length>0 %}
            {{particle}}
            {%else%}
            {%if relatearticle.length!=0 %}

              <div class="bd bd-news" style="display:block;">
                  <ul>
                      {% for item in relatearticle %}
                      <li> <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}" title="{{item.title}}">{{item.title}}</a></li>
                      {% endfor %}
                  </ul>
              </div>

            {%endif%}
            <h4>{{blogInfo.abstract}}</h4>
            {{blogInfo.content|safe}}
            {%endif%}
        </div>
        {%if blogInfo.from!="" %}
        <div class="from">
            Nguồn：{{blogInfo.from}}
        </div>
        {%endif%}
        {%if listtags.tags.length>0 %}
        <div class="cloud main-right">
          <ul>
            {% for item in listtags.tags %}
            <li><a href="/xu-huong/{{item.tag.urlrewrite}}-{{item.tag.id}}">{{item.tag.tagname}}</a></li>
            {% endfor %}
            <ul>
        </div>
        {%endif%}
        <!-- <div class="copyrights">
            感谢你的阅读，本文由 <a href="http://www.jsout.com">前端汇</a> 版权所有。<br />
            如若转载，请注明出处：前端汇（{{_web.url}}page/{{blogInfo.id}}.html）
        </div> -->
          <!-- {%if relatearticle.length!=0 %}
        <div class="topnews recom">
            <div class="h2">
                <span>
                    <a href="/{{menu.urlrewrite}}-{{menu.id}}">{{menu.itemname}}&gt;&gt;</a>
                </span>
                Bạn có thể quan tâm
            </div>
            <div class="bd bd-news" style="display:block;">
                <ul>
                    {% for item in relatearticle %}
                    <li> <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}" title="{{item.title}}">{{item.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
          {%endif%} -->
          {% for menu in navList.menu %}
          <div class="topnews">

            <div class="h2" id="menu-{{menu.parentmenu.id}}">
              <!-- {% if menu.submenus.length>0 %}
              <div class="navbar-header pull-right">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-{{menu.parentmenu.id}}">
                                  <i class="fa fa-bars" aria-hidden="true"></i>
                              </button>

                          </div>
                          {% endif %} -->
             <span>
               <a href="/{{menu.parentmenu.urlrewrite}}-{{menu.parentmenu.id}}">Tất Cả>></a>
             </span>
             <a href="#" class="submenuclick" data-parentid={{menu.parentmenu.id}} data-id={{menu.parentmenu.id}}>{{menu.parentmenu.itemname}}</a>
               {% if menu.submenus.length>0 %}
             <div class="collapse navbar-collapse pull-right" id="navbar-collapse-{{menu.parentmenu.id}}">
                             <ul class="nav navbar-nav">
                               {% for submenu in menu.submenus %}
                                 <li><a href="#" class="submenuclick" data-parentid={{submenu.parentid}} data-id={{submenu.id}}>{{submenu.itemname}}</a></li>
                          {% endfor %}
                             </ul>
                         </div>
                           {% endif %}
            </div>

            <div class="row" id="menunews-{{menu.parentmenu.id}}">
              {% if menu.parentmenu.style==1 %}
          {% article data = "topList",limit= "2",cid=menu.submenusid,iscategory=true %}

             {% set comma = "" %}
             {% if topList.length>0 %}
             {% set i = 0 %}
             {% for im in topList %}
             {% set i=i+1 %}
              {% if i!=topList.length %}
            {% set comma=comma+im.id+"," %}
            {% else %}
            {% set comma=comma+im.id %}
            {% endif %}
               {% endfor %}
             {% endif %}
             {% article data = "newsList",limit= "6",rejectnews=comma,cid=menu.submenusid,iscategory=true %}
           {% include "./inc/index_style1.html" %}
        {% elif menu.parentmenu.style==2 %}
        {% article data = "topList",limit= "2",cid=menu.submenusid,iscategory=true %}
        {% set comma = "" %}
        {% if topList.length>0 %}
        {% set i = 0 %}
        {% for im in topList %}
        {% set i=i+1 %}
         {% if i!=topList.length %}
        {% set comma=comma+im.id+"," %}
        {% else %}
        {% set comma=comma+im.id %}
        {% endif %}
          {% endfor %}
        {% endif %}
         {% article data = "newsList",rejectnews=comma,limit= "3",cid=menu.submenusid,iscategory=true %}
         {% if newsList.length>0 %}
         {% set comma = comma+"," %}
         {% set i = 0 %}
         {% for im in newsList %}
         {% set i=i+1 %}
          {% if i!=newsList.length %}
         {% set comma=comma+im.id+"," %}
         {% else %}
         {% set comma=comma+im.id %}
         {% endif %}
           {% endfor %}
         {% endif %}
          {% article data = "newsList1",rejectnews=comma,limit= "3",cid=menu.submenusid,iscategory=true %}

          {% include "./inc/index_style2.html" %}
          {% elif menu.parentmenu.style==3 %}
          {% article data = "topList",limit= "6",cid=menu.submenusid,iscategory=true %}
            {% include "./inc/index_style3.html" %}
        {% endif %}


        	</div>

          </div>
          {%endfor%}
    </article>
</div>
{% endblock %}
{% block footer_other %}
<script>
$("#showContent img").removeAttr("style");
$("#showContent img").removeAttr("width");
$("#showContent img").removeAttr("height");
$("#showContent img").css("width","100%");
$("#showContent video").removeAttr("style");
$("#showContent video").css("width","100%");
</script>
{% endblock %}
</body>
</html>
