{% extends "../common/inc/base_home.html" %}
{% block head %}
<title>{{title}}-{{_web.sitename}}</title>
<meta property="og:url"           content="/{{blogInfo.itemurlrewrite}}-{{blogInfo.item}}/{{blogInfo.urlrewrite}}-{{blogInfo.id}}.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{blogInfo.title}}" />
  <meta property="og:description"   content="{{blogInfo.abstract}}" />
  <meta property="og:image"         content="{{_web.url}}{{'static/common/images/common/default.jpg' if blogInfo.picurl=='' else blogInfo.picurl }}" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{blogInfo.abstract}}-{{_web.sitename}}">
{{ super() }}
<!-- <link rel="stylesheet" href="{{_web.url}}{{theme_url}}/vendors/github-markdown/github-markdown.css"> -->
<link rel="stylesheet" href="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/page/page.css">
<style>
.title
{
  font-weight: bold;
  font-size: 24px;
}
@media (max-width:480px)  {
.title {
           font-size: 14px;
       }
.description {
          font-size: 12px;
       }
}

/*reply comment*/

.topnews .header {
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 3px 3px 0 0;
    z-index: 0;
}

.description a{
  color: #3498db;
  font-weight: bold;
}
.markdown-body .cloud ul
{
  margin: 0;
}
.markdown-body .cloud
{
  margin-top: -10px;
  margin-bottom: 5px;
  padding: 5px 0;
}
.from
{
  margin-bottom: 10px;
}
.markdown-body .recom ul
{
  margin-left: -10px;
}
.markdown-body .bd-news
{
  margin-top: -20px;
}
#showContent .bd-news
{
  margin-top: -40px;
}
#showContent .bd-news ul
{
  margin-left: -10px;
}
</style>
{% endblock %}

{% block content %}
<div class="topnews">
    <div class="h2">
        <ol class="breadcrumb">
          <li><a href="{{_web.url}}"><i class="fa fa-home"></i></a></li>
          {% if category.categoryparent!=null %}
          <li><a href="/{{category.categoryparent.urlrewrite}}-{{category.categoryparent.id}}">{{category.categoryparent.itemname}}</a></li>
          <li class="active"><a href="/{{category.category.urlrewrite}}-{{category.category.id}}">{{category.category.itemname}}</a></li>
          {% else %}
           <li class="active"><a href="/{{category.category.urlrewrite}}-{{category.category.id}}">{{category.category.itemname}}</a></li>
          {% endif %}
        </ol>
    </div>
    <article class="markdown-body">
        <header class="article-header">




                           <p class="title" id="article-title">{{blogInfo.title}}</p>
                           <p class="description">
                               <span><a href="/{{blogInfo.itemurlrewrite}}-{{blogInfo.item}}">{{itemname}}</a></span>
                               <span><i class="glyphicon glyphicon-time"></i> <time class="timeago" datetime="{{think.datetime(blogInfo.createtime)}}"></time></span>
                               <span><i class="glyphicon glyphicon-eye-open"></i> {{blogInfo.view}}</span>

                           </p>



<div class="fb-like" data-href="/{{blogInfo.itemurlrewrite}}-{{blogInfo.item}}/{{blogInfo.urlrewrite}}-{{blogInfo.id}}.html" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

                </header>
        <div id="showContent">
            {%if particle.length>0 %}
            {{particle}}
            {%else%}
            {%if relatearticle.length!=0 %}

              <div class="bd bd-news" style="display:block;">
                  <ul>
                      {% for item in relatearticle %}
                      <li> <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}" title="{{item.title}}">{{item.title}}</a></li>
                      {% endfor %}
                  </ul>
              </div>

            {%endif%}
            <h4>{{blogInfo.abstract}}</h4>
            {{blogInfo.content|safe}}
            {%endif%}
        </div>
        {%if blogInfo.from!="" or (source.id!=null and source.id!=0) %}
        <div class="from">
            {{blogInfo.from}} {%if source.id!=null and source.id!=0 %}{%if blogInfo.from!="" %} - {%endif%}<a href="{{source.url}}">{{source.name}}</a>{%endif%}
        </div>
        {%endif%}
        {%if listtags.tags.length>0 %}
        <div class="cloud main-right">
          <ul>
            {% for item in listtags.tags %}
            <li><a href="/xu-huong/{{item.tag.urlrewrite}}-{{item.tag.id}}">{{item.tag.tagname}}</a></li>
            {% endfor %}
            <ul>
        </div>
        {%endif%}
        <div style="margin-top:10px; font-size:20px;font-weight:bold">Tin mới</div>
        {% for item in itemList %}
        <div class="blogs">
           <figure>
             <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}"><img src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" title="{{item.title}}"></a>
            </figure>
            <ul class="articleul">
            <h3> <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">{{item.title}}</a></h3>
             <p class="abstract">{{item.abstract}}</p>
             <p class="by-author">
               <span><a style="color: #3498db;" href="/{{item.itemurlrewrite}}-{{item.item}}">{{item.itemname}}</a></span>
               <span><i class="glyphicon glyphicon-eye-open"></i> {{item.view}}</span>
             </p>
            </ul>
          </div>
        {%endfor%}
        <!-- <div class="copyrights">
            感谢你的阅读，本文由 <a href="http://www.jsout.com">前端汇</a> 版权所有。<br />
            如若转载，请注明出处：前端汇（{{_web.url}}page/{{blogInfo.id}}.html）
        </div> -->
          <!-- {%if relatearticle.length!=0 %}
        <div class="topnews recom">
            <div class="h2">
                <span>
                    <a href="/{{menu.urlrewrite}}-{{menu.id}}">{{menu.itemname}}&gt;&gt;</a>
                </span>
                Bạn có thể quan tâm
            </div>
            <div class="bd bd-news" style="display:block;">
                <ul>
                    {% for item in relatearticle %}
                    <li> <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}" title="{{item.title}}">{{item.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
          {%endif%} -->

    </article>
</div>
{% endblock %}
{% block footer_other %}
<script>
$("#showContent img").removeAttr("style");
$("#showContent img").removeAttr("width");
$("#showContent img").removeAttr("height");
$("#showContent img").css("width","100%");
$("#showContent video").removeAttr("style");
$("#showContent video").css("width","100%");
</script>
{% endblock %}
</body>
</html>
