{% extends "../common/inc/base_home.html" %}
{% block head %}
    <title>{{_web.sitename}}</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{_web.description}}">
    {{ super() }}
{% endblock %}
{% block content %}
<div class="block">
            <div class="featured">
            <div class="left">
              {% article data = "largetopList",limit= "1",flag="flag_a"%}
              {% set comma = "" %}
              {% for item in largetopList %}
                <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">
                  <img src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" alt="" class="thumb" title="{{item.title}}">
                  <span><h4>{{item.title}}</h4><span>
                </a>
                {% set comma=comma+item.id+"," %}
              {%endfor%}
            </div>
            <div class="right">
              {% article data = "topList",limit= "2",flag="totop"%}
              {% set i = 0 %}
              {% for item in topList %}
              <div class="left">
                <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">
                  <img src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" alt="" class="thumb" title="{{item.title}}">
                  <span><h4>{{item.title}}</h4></span>
                </a>
              </div>
              {% set i=i+1 %}
               {% if i!=topList.length %}
              {% set comma=comma+item.id+"," %}
              {% else %}
              {% set comma=comma+item.id %}
              {% endif %}
            {% endfor %}
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          {% set areaTitle="Tin Mới" %}
          {% include "./inc/new_article.html" %}
</div>
{% endblock %}
{% block footer_other %}
<script>
urls.unshift("{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/layout/loadmorearticle.js");
</script>
{% endblock %}
