{% extends "../common/inc/base_home.html" %}
{% block head %}
    <title>{{_web.sitename}}</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{_web.description}}">
    {{ super() }}
{% endblock %}
{% block content %}
<div class="block">
            <div class="featured">
            <div class="left">
              {% article data = "largetopList",limit= "1",flag="flag_a"%}
              {% set comma = "" %}
              {% for item in largetopList %}
                <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">
                  <img data-src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" alt="" class="thumb" title="{{item.title}}">
                  <span><h4>{{item.title}}</h4><span>
                </a>
                {% set comma=comma+item.id+"," %}
              {%endfor%}
            </div>
            <div class="right">
              {% article data = "topList",limit= "2",flag="totop"%}
              {% set i = 0 %}
              {% for item in topList %}
              <div class="left">
                <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">
                  <img data-src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" alt="" class="thumb" title="{{item.title}}">
                  <span><h4>{{item.title}}</h4></span>
                </a>
              </div>
              {% set i=i+1 %}
               {% if i!=topList.length %}
              {% set comma=comma+item.id+"," %}
              {% else %}
              {% set comma=comma+item.id %}
              {% endif %}
            {% endfor %}
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="block-title">Tin Mới</div>
          {% article data = "itemList",limit= "10",rejectnews=comma %}
          {% set i = 0 %}
          {% set comma=comma+"," %}
          			{% if itemList.length>0 %}
          				{% for item in itemList %}

          <div class="item"> <!-- using data uri for images -->
            <div class="item-left">
              <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}"><img data-src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" title="{{item.title}}"></a>
            </div>
            <div class="item-right">
             <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">{{item.title}}</a>
            <p class="summary">{{item.abstract}}</p>
            <p class="category"><a style="color: #3498db;" href="/{{item.itemurlrewrite}}-{{item.item}}">{{item.itemname}}</a></p>
          </div>
          <div class="clearfix"></div>
          </div>
          {% set i=i+1 %}
           {% if i!=itemList.length %}
          {% set comma=comma+item.id+"," %}
          {% else %}
          {% set comma=comma+item.id %}
          {% endif %}
				{%endfor%}
			{%endif%}
</div>
{% endblock %}
