<div class="footer">

    <footer class="social-share">
      <div class="block">
      <div class="left">
        <p><span>Liên hệ: 01669091806</span>

  <span>Email:
  <a href="mailto:rpthanhtam@gmail.com" class="email">rpthanhtam@gmail.com</a>
      <span>

  </span>
  </p>
  <p>Giấy phép số 74/GP-STTTT do Sở Thông tin và Truyền thông TP Hồ Chí Minh cấp ngày 16/11/2017</p>
          </div>
      <div class="right">
        <a href="https://www.facebook.com/tintech.vn"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCG2NflZRgCWY2zJp7XJhTHw?disable_polymer=true"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <!-- <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
            <a href="https://plus.google.com/116363675295027294186?hl=vi"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
      <div class="clearfix"></div>
      </div>
    </footer>
</div>
<span id="crp-stats"></span>

    <noscript id="deferred-styles"> <!-- defer loading of style sheet -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/layout/layout.min.css" rel="stylesheet"> <!-- added media attribute -->
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById('deferred-styles');
        var replacement = document.createElement('div');
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
    <script> // webfont loader script to load google fonts asynchronously
      WebFontConfig = {
        google: {
          families: ['Open Sans']
        }
      };
      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
    <script async src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/layout/perfmatters-min.js"></script>
    <script> //moved analytics scripts to bottom of page
      (function(w,g){w['GoogleAnalyticsObject']=g;
      w[g]=w[g]||function(){(w[g].q=w[g].q||[]).push(arguments)};w[g].l=1*new Date();})(window,'ga');

      // Optional TODO: replace with your Google Analytics profile ID.
      ga('create', 'UA-XXXX-Y');
      ga('send', 'pageview');
    </script>
    <script async src="http://www.google-analytics.com/analytics.js"></script>
    <!-- <script async src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="js/dropdownmenu.js"></script> -->
    <script async>
    function loadScripts(urls, length, success){
            if(length > 0){
                script = document.createElement("SCRIPT");
                script.src = urls[length-1];
                console.log();
                script.onload = function() {
                    console.log('%c Script: ' + urls[length-1] + ' loaded!', 'color: #4CAF50');
                    loadScripts(urls, length-1, success);
                };
                document.getElementsByTagName("body")[0].appendChild(script);
            }
            else
                if(success)
                    success();
        }
        urls = [
            '{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/layout/loadasyncimage.js',
            '{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/layout/dropdownmenu.js',
            'http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'
            ];
            loadScripts(urls, urls.length, function(){
              console.log("thành công");
          });

    </script>
