<div class="block-title">Tin Mới</div>
{% article data = "itemList",limit= "10",rejectnews=comma %}
{% set i = 0 %}
{% set comma=comma+"," %}
      {% if itemList.length>0 %}
        {% for item in itemList %}

<div class="item"> <!-- using data uri for images -->
  <div class="item-left">
    <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}"><img src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" title="{{item.title}}"></a>
  </div>
  <div class="item-right">
   <p class="title"><a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">{{item.title}}</a></p>
  <p class="summary">{{item.abstract}}</p>
  <p class="category">
    <a style="color: #3498db;" href="/{{item.itemurlrewrite}}-{{item.item}}">{{item.itemname}}</a>
    <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> <time class="timeago" datetime="{{think.datetime(item.createtime)}}"></time></span>
  </p>
</div>
<div class="clearfix"></div>
</div>
{% set i=i+1 %}
 {% if i!=itemList.length %}
{% set comma=comma+item.id+"," %}
{% else %}
{% set comma=comma+item.id %}
{% endif %}
{%endfor%}
{%endif%}
