{% if areaTitle!=null %}<div class="block-title">{{areaTitle}}</div>{% endif %}
{% article data = "itemList",limit= "10",cid=cid,iscategory=iscategory,tagid=tagid,istag=istag,rejectnews=comma %}
{% set i = 0 %}
{% if comma!=null %}
{% set comma=comma+"," %}
{% else %}
{% set comma="" %}
{% endif %}
      {% if itemList.length>0 %}
      <div class="topnews">
        {% for item in itemList %}
<div class="item"> <!-- using data uri for images -->
  <div class="item-left">
    <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}"><img src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" title="{{item.title}}"></a>
  </div>
  <div class="item-right">
   <p class="title"><a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">{{item.title}}</a></p>
  <p class="summary">{{item.abstract}}</p>
  <p class="category">
    <a style="color: #3498db;" href="/{{item.itemurlrewrite}}-{{item.item}}">{{item.itemname}}</a>
    <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> <time class="timeago" datetime="{{think.datetime(item.createtime)}}"></time></span>
  </p>
</div>
<div class="clearfix"></div>
</div>
{% set i=i+1 %}
 {% if i!=itemList.length %}
{% set comma=comma+item.id+"," %}
{% else %}
{% set comma=comma+item.id %}
{% endif %}
{%endfor%}
</div>
{%endif%}
<div data-reject="{{comma}}" data-is="{{datais}}" data-isid="{{isid}}" class="btn-loadmore" style="text-align:center;padding:10px 0;border-top:1px solid rgb(234, 234, 234)"><a href="#" style="font-size:20px;color:#3498db;font-weight:bold">Xem Thêm</a></div>
