html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
}
body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
body,
button,
input,
select,
textarea {
    font-family: "Open Sans", sans-serif;
    color: #333;
}
img {
    border: 0;
    max-width: 100%;
}
body {
    background: rgb(246, 246, 246);
}
.left {
    width: 70%;
    float: left;
}
.right {
    width: 30%;
    float: right;
}
.featured {
    height: 400px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(234, 234, 234);
}
.featured img {
    height: 100%;
    min-width: 100%;
}
.featured .left {
    width: 65%;
    height: 100%;
}
.featured .right {
    width: 35%;
    height: 100%;
}
.featured .right .left {
    width: 100%;
    height: 50%;
}
.item {
    padding: 5px 0;
    border-top: 1px solid rgb(234, 234, 234);
}
.item-left img {
    min-width: 100%;
    height: 180px;
}
.item-left {
    width: 30%;
    float: left;
}
.item-right {
    width: 70%;
    float: right;
    margin: 10px -10px;
}
.item-right a {
    text-decoration: none;
    font-weight: bold;
}
footer .right {
    text-align: right;
    margin-top: 25px;
}
.clearfix {
    clear: both;
}
.block-title {
    color: #3498db;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 0
}
.block {
    padding: 0 5px;
}
@media (max-width: 768px) {
    .content .right {
        width: 100%;
    }
    .content .left {
        width: 100%;
    }
    .social-share {
        text-align: center;
    }
    .social-share .left {
        width: 100%;
    }
    .social-share .right {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .featured {
        height: auto;
    }
    .featured .left {
        width: 100%;
        height: 500px;
    }
    .featured .right {
        width: 100%;
    }
    .featured .right .left {
        width: 50%;
        height: 250px;
    }
}
.logo {
    width: 60px;
    float: left;
}
.right .item a {
    text-decoration: none;
}
body > header {
    background-color: rgb(117, 176, 32);
    width: 100%;
}
body > header > div {
    margin: 0 auto;
}
body > header > div svg {
    box-sizing: border-box;
    height: 60px;
    padding: 2px 5px;
    width: 60px;
}
body > header > div > svg {
    float: right;
}
body > header > div > svg > line {
    stroke: #fff;
    stroke-linecap: round;
}
body > header > div > nav {
    height: 100%;
}
@media (min-width: 768.1px) {
    body > header > div {
        height: 60px;
    }
    body > header > div > svg {
        display: none;
    }
    body > header > div > nav {
        float: left;
    }
}
@media (max-width: 768px) {
    body > header > div > nav {
        clear: both;
    }
    nav.DropDownMenu {
        font-size: 18px;
        display: none;
    }
    .content .right .block-title {
        border-top: 1px solid rgb(234, 234, 234);
    }
}
@media (max-width: 414px) {
    .featured .left {
        height: 300px;
    }
    .featured .right .left {
        height: 200px;
    }
    .item-left {
        width: 40%;
    }
    .item-left img {
        height: 120px;
    }
    .item-right {
        width: 60%;
    }
    .summary {
        display: none;
    }
}
nav.DropDownMenu {
    color: #fff;
}
@media (min-width: 1024.1px) {
    footer,
    .container {
        max-width: 70em;
        margin: 0 auto;
    }
    body > header > div {
        width: 70em;
    }
}
.featured span {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    width: 100%;
    font-size: 18px;
}
.featured h4 {
    padding: 0 5px;
}
.featured .left {
    position: relative;
}
.featured .right {
    position: relative;
}
.featured .right h4 {
    font-size: 14px;
}
