{% if topList.length>0 %}

<div class="col-md-12 col-lg-12">
            <ul class="media-list main-list">
              {% for item in topList %}
                <li class="media">
                    <a  href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}">
                        <img class="media-object" src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" alt="...">
                    </a>
                    <div class="media-body">
                          <a href="/{{item.itemurlrewrite}}-{{item.item}}/{{item.urlrewrite}}-{{item.id}}"><h4 class="media-heading">{{item.title}}</h4></a>
                          <p class="by-author">
                            <span><i class="glyphicon glyphicon-tags"></i> <a style="color: #3498db;" href="/{{item.itemurlrewrite}}-{{item.item}}">{{item.itemname}}</a></span>
                            <span><i class="glyphicon glyphicon-eye-open"></i> {{item.view}}</span>
                            <span><i class="fa fa-comment"></i> {{item.replycount}}</span>
                          </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
