{% if topList.length>0 %}
  <div class="col-md-7 col-lg-7">
{% for item in topList %}

  <!-- artigo em destaque -->
  <div class="featured-article">
    <a href="#">
      <img src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" title="{{item.title}}" alt="" class="thumb img-responsive">
    </a>
    <div class="block-title">
      <h2>{{item.title}}</h2>
      <p class="by-author"><small>By Jhon Doe</small></p>
    </div>
  </div>
  <!-- /.featured-article -->

 {% endfor %}
 </div>
 {% endif %}
 {% if newsList.length>0 %}
 <div class="col-md-5 col-lg-5">

   <ul class="media-list main-list">

 {% for item in newsList %}
 <li class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-responsive" src="{{_web.url}}{{'static/common/images/common/default.jpg' if item.picurl=='' else item.picurl }}" title="{{item.title}}" alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{item.title}}</h4>
    <p class="by-author">By Jhon Doe</p>
  </div>
</li>
  {% endfor %}
</ul>

</div>
{% endif %}
