<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> Quản lý bài viết<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/content" data-title="Danh sách bài viết" href="javascript:void(0)">Danh sách</a></li>
                    <li><a _href="/admin/content/article" data-title="Thêm bài viết" href="javascript:void(0)">Thêm</a></li>
                    <li><a _href="/admin/content/draftlist" data-title="Bài viết nháp" href="javascript:void(0)">Nháp</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> Quản lý video<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/video/index" data-title="Danh sách bài viết" href="javascript:void(0)">Danh sách</a></li>
                    <li><a _href="/admin/video/video" data-title="Thêm bài viết" href="javascript:void(0)">Thêm</a></li>
                    <li><a _href="/admin/content/addmarkdown" data-title="Thêm bài viết markdown" href="javascript:void(0)">Thêm markdown</a></li>
                    <li><a _href="/admin/content/draftlist" data-title="Bài viết nháp" href="javascript:void(0)">Nháp</a></li>
                </ul>
            </dd>
        </dl>
        <!-- <dl id="menu-menu">
            <dt><i class="Hui-iconfont">&#xe616;</i> Quản lý điều hướng<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/menu/index" data-title="Danh sách điều hướng" href="javascript:void(0)">Danh sách</a></li>
                    <li><a _href="/admin/menu/item" data-title="Thêm điều hướng" href="javascript:void(0)">Thêm</a></li>
                </ul>
            </dd>
        </dl> -->
        <dl id="menu-item">
            <dt><i class="Hui-iconfont">&#xe616;</i>  Quản lý danh mục<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/item/index" data-title="Danh sách danh mục" href="javascript:void(0)">Danh sách</a></li>
                    <li><a _href="/admin/item/item" data-title="Thêm danh mục" href="javascript:void(0)">Thêm</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tag">
            <dt><i class="Hui-iconfont">&#xe616;</i> Quản lý tags<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/tag/index" data-title="Danh sách dòng sự kiện" href="javascript:void(0)">Danh sách</a></li>
                    <li><a _href="/admin/tag/item" data-title="Thêm dòng sự kiện" href="javascript:void(0)">Thêm</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i> Quản lý tài khoản<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/user/index" data-title="用户管理" href="javascript:void(0)">Người dùng</a></li>
                    <li><a _href="/admin/user/adminlist" data-title="用户管理" href="javascript:void(0)">Quản trị</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i>  Quản lý chủ đề<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/topic/index" data-title="Danh sách chủ đề" href="javascript:void(0)">Danh sách</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i> Quản lý quyền<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/role/index" data-title="Danh sách quyền" href="javascript:void(0)">Danh sách quyền</a></li>
                    <li><a _href="/admin/permission/index" data-title="Danh sách vai trò" href="javascript:void(0)">Danh sách vai trò</a></li>
                    <li><a _href="/admin/pertag/index" data-title="Loại thẩm quyền" href="javascript:void(0)">Loại thẩm quyền</a></li>
                </ul>
            </dd>
        </dl>
        <!-- <dl id="menu-guest">
            <dt><i class="Hui-iconfont">&#xe613;</i> Quản lý liên hệ<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/guest/index" data-title="Danh sách liên hệ" href="javascript:void(0)">Danh sách</a></li>
                </ul>
            </dd>
        </dl> -->
        <dl id="links">
            <dt><i class="Hui-iconfont">&#xe613;</i> Liên kết<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/links/index" data-title="Danh sách liên kết" href="javascript:void(0)">Danh sách liên kết</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-user">
            <dt><i class="Hui-iconfont">&#xe613;</i> Bình luận<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/comment/index" data-title="Danh sách bình luận" href="javascript:void(0)">Danh sách bình luận</a></li>
                    <li><a _href="/admin/comment/tiplist" data-title="Danh sách báo cáo" href="javascript:void(0)">Danh sách báo cáo</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe613;</i> Cài đặt hệ thống<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="/admin/system/index" data-title="Cài đặt chung" href="javascript:void(0)">Cài đặt chung</a></li>
                    <li><a _href="/admin/system/setcomment" data-title="Cài đặt bình luận" href="javascript:void(0)">Cài đặt bình luận</a></li>
                    <li><a _href="/admin/system" data-title="Cài đặt Email" href="javascript:void(0)">Cài đặt Email</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
