<header>
		<div>
			<!--Logo-->
			<a href="/">
				<img class="logo" src="/static/theme/liblog/res/common/images/common/logo.png" />
			</a>
			<!--Mobile version opening button-->
			<svg viewBox="0 0 8 8">
				<line x1="1" x2="7" y1="2" y2="2"></line>
				<line x1="1" x2="7" y1="4" y2="4"></line>
				<line x1="1" x2="7" y1="6" y2="6"></line>
			</svg>
			<!--Drop down menu-->
			<nav class="DropDownMenu">
        {% if navList.menu.length>0 %}
        <ul>
           {% for item in navList.menu %}
              <li>
                  {% if item.submenus.length>0 %}
                    <a class="menu-title" href="/{{ item.parentmenu.urlrewrite }}-{{ item.parentmenu.id }}">{{ item.parentmenu.itemname }}</a><a href="#" class="btn-submenu">+</a>
                    <ul class="clearfix">
                      {% for it in item.submenus %}
                        <li><a href="/{{ it.urlrewrite }}-{{ it.id }}">{{it.itemname}}</a></li>
                        {% endfor %}
                    </ul>
                  {% else %}
                    <a href="/{{ item.parentmenu.urlrewrite }}-{{ item.parentmenu.id }}">{{ item.parentmenu.itemname }}</a>
                  {% endif %}
              </li>
           {% endfor %}
           <li><a href="/video">Video</a></li>
        </ul>
        {% endif %}
			</nav>
      <div class="clearfix"></div>
		</div>
	</header>
